:root {
  --navbar-height: 48px;
  --page-width: 1280;
  --page-height: 720;
  --page-width-scale: calc(var(--view-width) / var(--page-width));
  --page-width-scale-vertical: calc(var(--view-width) / var(--page-height));
  --background-color1: rgb(246, 242, 231);
  --background-color2: rgb(248, 232, 210);
  --font-caption1: "Cinzel";
  --font-text1: "Montserrat, sans-serif";
}

body {
  margin: 0;
  text-align: center;
}
a[href] {
  text-decoration: underline;
  color: black;
}

#navbar {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  height: var(--navbar-height);
  justify-content: flex-end;
  background-color: var(--background-color1);
  > ul {
    display: flex;
    > li {
      color: rgb(48, 66, 84);
      overflow: hidden;
      padding: 12px 16px;
      > a {
        /* font-family: "Montserrat, sans-serif"; */
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.pages {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  > section {
    overflow: hidden;
  }
}

#hauptseite {
  width: 100vw;
  @media (min-aspect-ratio: 1/1) {
    height: calc(1px * var(--page-height) * var(--page-width-scale));
    font-size: calc(66px * var(--page-width-scale));
  }
  /* vertical */
  @media (max-aspect-ratio: 1/1) {
    height: calc(1px * var(--page-width) * var(--page-width-scale-vertical));
    font-size: calc(66px * var(--page-width-scale-vertical));
  }
  font-family: var(--font-caption1);
  background-color: var(--background-color1);

  > .border-decoration-container {
    > :nth-child(1) {
      --width: 254.036;
      --height: 287.859;
      --tr-x: 43.3195;
      --tr-y: -89.6407;
      --rot: 50.417deg;
    }

    > :nth-child(2) {
      --width: 347.504;
      --height: 380.565;
      --tr-x: 340.811;
      --tr-y: -261.857;
    }

    > :nth-child(3) {
      --width: 512;
      --height: 184.64;
      --tr-x: 556.312;
      --tr-y: -75.1898;
      --rot: -180deg;
    }

    > :nth-child(4) {
      --width: 254.036;
      --height: 287.859;
      --tr-x: 1081.02;
      --tr-y: -105.804;
      --rot: -154.413deg;
    }

    > :nth-child(5) {
      --width: 313.951;
      --height: 320.358;
      --tr-x: 1008.83;
      --tr-y: 62.6176;
      --rot: -129deg;
    }

    > :nth-child(6) {
      --width: 512;
      --height: 203.52;
      --tr-x: 870.955;
      --tr-y: 395.372;
      --rot: -160.115deg;
    }

    > :nth-child(7) {
      --width: 347.504;
      --height: 380.565;
      --tr-x: 1084.8408;
      --tr-y: 570.3942;
      --rot: -90deg;
    }

    > :nth-child(8) {
      --width: 347.504;
      --height: 380.565;
      --tr-x: 714.785;
      --tr-y: 570.394;
      --rot: 178.159deg;
      --scale-x: 1;
      --scale-y: -1;
    }

    > :nth-child(9) {
      --width: 316.9;
      --height: 347.049;
      --tr-x: 501.939;
      --tr-y: 655.683;
      --rot: 24.5027deg;
    }

    > :nth-child(10) {
      --width: 254.036;
      --height: 287.859;
      --tr-x: 270.232;
      --tr-y: 517.071;
      --rot: 85.0221deg;
    }

    > :nth-child(11) {
      --width: 313.951;
      --height: 320.358;
      --tr-x: 205.224;
      --tr-y: 544.223;
      --rot: -124.045deg;
    }

    > :nth-child(12) {
      --width: 347.504;
      --height: 380.565;
      --tr-x: -45.6928;
      --tr-y: 387.804;
    }

    > :nth-child(13) {
      --width: 347.504;
      --height: 380.565;
      --tr-x: -308.432;
      --tr-y: 184.129;
      --rot: 35.3049deg;
    }

    > :nth-child(14) {
      --width: 512;
      --height: 184.64;
      --tr-x: -284.622;
      --tr-y: 68.6169;
      --rot: -164.204deg;
    }
  }

  > :nth-child(2) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  a[href] {
    /* font-family: "Montserrat"; */
    border: 1px solid;
    @media (min-aspect-ratio: 1/1) {
      font-size: calc(15pt * var(--page-width-scale));
      padding-left: calc(40px * var(--page-width-scale));
      padding-right: calc(40px * var(--page-width-scale));
      padding-top: calc(10px * var(--page-width-scale));
      padding-bottom: calc(10px * var(--page-width-scale));
      border-radius: calc(50vh * var(--page-width-scale));
    }

    /* vertical */
    @media (max-aspect-ratio: 1/1) {
      font-size: calc(15pt * var(--page-width-scale-vertical));
      padding-left: calc(40px * var(--page-width-scale-vertical));
      padding-right: calc(40px * var(--page-width-scale-vertical));
      padding-top: calc(10px * var(--page-width-scale-vertical));
      padding-bottom: calc(10px * var(--page-width-scale-vertical));
      border-radius: calc(50vh * var(--page-width-scale-vertical));
    }
  }


  .border-decoration-container {
    @media (min-aspect-ratio: 1/1) {
      transform-origin: top left;
      transform:
        translate(50vw, 0)
        scale(var(--page-width-scale))
        translate(-50vw, 0)
        translate(
          calc((100vw - var(--page-width) * 1px) / 2),
          0
        ); 
    }
    /* vertical */
    @media (max-aspect-ratio: 1/1) {
      transform-origin: top left;
      transform:
        rotate(90deg)
        scaleY(-1)
        translate(0, 50vw)
        scale(calc(var(--page-width-scale-vertical)))
        translate(0, -50vw)
        translate(
          -0px,
          calc((100vw - var(--page-height) * 1px) / 2))
        ;
    }
  }

  .border-decoration {
    --scale-factor: 1px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(var(--width) * var(--scale-factor));
    height: calc(var(--height) * var(--scale-factor));
    transform:
      translate(
        calc(var(--tr-x) * 1px),
        calc(var(--tr-y) * 1px))
      rotate(var(--rot, 0))
      scale(var(--scale-x, 1), var(--scale-y, 1));
  }
}

#geschichte {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--background-color2);
  height: 100%;
  > div {
    padding: 50px;
  }
  > div:nth-child(1) {
    display: grid;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    * {
      grid-area: 1 / 1;
    }
    > div:nth-child(1).imageborder {
      padding: 20px;
      background-color: white;
      > img {
        width: 370px;
      }
    }
    > img:nth-child(2) {
      width: 200px;
      transform:
        translate(-80px, 180px)
        rotate(-60deg);
    }
  }
  > div:nth-child(2) {
    width: max(500px, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div:first-child.title {
      font-size: 53px;
      font-family: var(--font-caption1);
    }
    > div:not(:first-child) {
      font-size: 18px;
      font-family: var(--font-text1);
      font-weight: 400;
    }
  }
}

#zeremoniefeier {
  background-color: var(--background-color1);
  > div:nth-child(1) {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 53px;
    font-family: var(--font-caption1);
  }
  > div:nth-child(2) {
    > img {
      width: 40%;
    }
    > img:nth-child(1) {
      transform: scaleX(-1);
    }
  }
  > div:nth-child(3) {
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: var(--font-text1);
    font-size: 35px;
    font-weight: 300;
  }
  > div:nth-child(4) {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--font-text1);
    font-size: 22px;
    font-weight: 200;
  }
  > div:nth-child(5) {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: var(--font-text1);
    font-size: 20px;
    font-weight: 200;
  }
}

#einladung {
  background-image: url('assets/img/545ae3279668e556059d53f79c2f7ec2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  > div {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color1);
    width: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    > div:nth-child(1) {
      padding-bottom: 10px;
      font-family: var(--font-caption1);
      font-size: 40px;
    }
    > div:nth-child(2) {
      padding-bottom: 30px;
      font-family: var(--font-text1);
      font-weight: 200;
      font-size: 20px;
    }
    > div:nth-child(3) {
      padding-bottom: 10px;
      font-family: var(--font-caption1);
      font-size: 35px;
    }
    > div:nth-child(4) {
      font-family: var(--font-text1);
      font-size: 13px;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

#faq {
  background-color: var(--background-color1);
  position: relative;
  .imageborder {
    img {
      @media (max-aspect-ratio: 1/1) {
        --image-size: 35vw;
      }
      @media (min-aspect-ratio: 1/1) {
        --image-size: 20vw;
      }
      position: absolute;
      width: var(--image-size);
      height: var(--image-size);
    }
    img:nth-child(1) {
      left: 0;
      transform:
        scale(-1);
    }
    img:nth-child(2) {
      right: 0;
      transform:
        scaleY(-1);
    }
    img:nth-child(3) {
      right: 0;
      bottom: 0;
    }
    img:nth-child(4) {
      left: 0;
      bottom: 0;
      transform:
        scaleX(-1);
    }
  }
  > div:nth-child(2) {
    > div:nth-child(1) {
      font-family: var(--font-caption1);
      font-size: 50px;
    }

    @media (max-aspect-ratio: 1/1) {
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 40px;
      padding-right: 40px;
      > div:nth-child(1) {
        width: 100%;
      }
    }
    @media (min-aspect-ratio: 1/1) {
      display: flex;
      flex-direction: row;
      > div {
        width: 50%;
      }
      > div:nth-child(1) {
        /* first block */
        padding-left: 80px;
        display: grid;
        place-items: center;
      }
      > div:nth-child(2) {
        /* vertical line */
        width: 5px;
        border-left: 2px solid black;
        margin: 40px;
      }
      > div:nth-child(3) {
        /* second block */
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 120px;
      }
    }
    > div:nth-child(3) {
      > div {
        padding: 10px;
      }
      > div:nth-child(odd) {
        font-family: var(--font-caption1);
        font-size: 20px;
        font-weight: 200;
      }
      > div:nth-child(even) {
        font-family: var(--font-text1);
        font-size: 18px;
      }
    }
  }
}

#antwort {
  background-color: var(--background-color2);
  position: relative;
  .imageborder {
    img {
      position: absolute;
      width: 20vw;
    }
    img:nth-child(1) {
      left: 0;
      transform:
        translateY(calc((100vh - 850px) / 2))
        translateX(-50px)
        rotateZ(45deg);
    }
    img:nth-child(2) {
      right: 0;
      transform:
        translateY(calc((100vh - 850px) / 2))
        translateX(50px)
        scaleX(-1)
        rotateZ(45deg);
    }
  }
  div:nth-child(2) {
    padding: 50px;
    > div:nth-child(1) {
      font-family: var(--font-caption1);
      font-size: 35px
    }
    > div:nth-child(2) {
      font-family: var(--font-text1);
      font-size: 15px;
      font-weight: 200;
    }
  }
}

#location {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--background-color1);
  position: relative;
  .imageborder {
    img {
      position: absolute;
      width: 20vw;
      right: 0;
      bottom: 0;
      transform:
        scaleX(-1);
    }
  }
  details:last-child {
    padding-bottom: 20px;
  }
  summary {
    padding: 5px;
  }
  > div:nth-child(2) {
    > div:nth-child(1) {
      > div:nth-child(1) {
        font-family: var(--font-caption1);
        font-size: 50px;
      }
    }
    > div:nth-child(2) {
      > div:nth-child(1) {
        font-family: var(--font-caption1);
        font-size: 25px;
      }
      > div:nth-child(3) {
        font-size: 20px;
        font-weight: 200;
      }
    }
  }
}
